* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: sans-serif;
}
main {
  max-width: 100vw;
  min-height: 100vh;
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-box {
  margin: 10vh 0 5vh 0;
  width: 40vw;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
}
.input-box > button {
  background-color: royalblue;
}
.input-box > input {
  flex: 1;
}
button {
  height: 2rem;
  color: white;
  background-color: red;
}
input,
p,
button {
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0.2rem 0.6rem;
}
li {
  background-color: lightblue;
  width: 40vw;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
}
li > p {
  background-color: white;
  word-wrap: break-word;
  word-break: break-all;
}

@media screen and (max-width: 711px) {
  .input-box {
    width: 80vw;
  }
  li {
    width: 80vw;
  }
}
